@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.address {
  margin: 0;
  padding: 0;

  &--darker {
    background-color: $color-bg-basic-grey;
  }
}

.address__title {
  min-width: 139px;
  margin: 0;
  padding: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-special-black;

  @media (min-width: $tablet-width) {
    margin: 5px 0;
    min-width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    min-width: 163px;
    padding: 0 95px 0 0;
  }
}

.address__link {
  min-width: 139px;
  margin: 0;
  padding: 0 0 0 3px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-special-dark-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    max-width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 175px;
    padding: 0;
    text-align: start;
  }
}

.address__br {
  @media (min-width: $tablet-width) {
    line-height: 350%;
  }

  @media (min-width: $desktop-width) {
    line-height: 350%;
  }
}

.address__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.address__inner-wrapper {
  padding: 26px 20px;
  min-height: 112px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-height: 199px;
    padding: 56px 70px 38px;
  }

  @media (min-width: $desktop-width) {
    height: 198px;
    padding: 56px 60px 0 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    background-color: $color-basic-white;
  }
}

.address__map {
  width: 100%;
  height: 362px;
  display: block;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }

  &--nojs {
    width: 100%;
    height: 362px;
    background-image: url("../img/location-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      height: 400px;
      background-image: url("../img/location-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/location-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      background-image: url("../img/location-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/location-desktop@2x.jpg");
      }
    }
  }
}
