@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.advantages {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 46px;
    border-bottom: 1px solid $color-border-form-special;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 59px;
    row-gap: 37px;
    counter-reset: advantages;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 77px;
  }
}

.advantages__item {
  margin-bottom: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-color: $color-basic-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--nutrition::before {
    background-image: url("../img/index/icon-nutrition-advantages.svg");
  }

  &--flour::before {
    background-image: url("../img/index/icon-flour-advantages.svg");
  }

  &--cutlery::before {
    background-image: url("../img/index/icon-cutlery-advantages.svg");
  }

  &--time::before {
    background-image: url("../img/index/icon-time-advantages.svg");
  }

  @media (min-width: $tablet-width) {
    min-width: 230px;
    margin-bottom: 0;
    width: 230px;
    height: 280px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
      background-color: $color-basic-green;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      position: absolute;
      content: counter(advantages, decimal) " ";
      counter-increment: advantages;
      top: 0;
      left: 115px;
      z-index: -2;
      color: $color-bg-basic-grey;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 246px;
  }
}

.advantages__description {
  margin: 0;
  padding: 1px 4px 5px 80px;
  max-width: 280px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    padding: 151px 0 57px 0;
    min-width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}
