@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.advantages {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 153px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
  }
}

.advantages__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
  }
}

.advantages__description {
  margin: 0;
  padding: 0 4px 0 80px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
