@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.button {
  display: inline-block;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $color-basic-white;
  background-color: $color-basic-green;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 10px 109px;

  &:hover,
  &:focus {
    background-color: $color-basic-green-2;
  }

  &:active {
    background-color: $color-basic-green-2;
    color: transparentize($color-basic-white, 0.3);
  }

  &--secondary {
    color: $color-special-dark-grey;
    background-color: $color-bg-basic-grey;
    padding: 10px 94px;

    &:hover,
    &:focus {
      background-color: $color-border-special-grey-2-light;
    }

    &:active {
      background-color: $color-border-special-grey-2-light;
      color: transparentize($color-special-dark-grey, 0.3);
    }
  }
}
