@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.card {
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    left: -20px;
    right: -20px;
    bottom: 0;
    background-color: $color-border-special-grey-2-light;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0 36px 39px 37px;
    background-image: linear-gradient(to bottom, $color-basic-white 80px, $color-border-basic-grey 80px);
    margin: 0;
    height: calc(430px + 80px);

    &:nth-child(2n) {
      padding: 0 36px 39px 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px 35px;
  }
}

.card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 14px;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    min-width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    min-width: 180px;
  }
}

.card__link {
  text-decoration: none;
}

.card__wrapper {
  width: 140px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    min-width: 252px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    min-width: 170px;
  }
}

.card__subtitle {
  max-width: 76px;
  margin: 0 auto 15px 0;
  padding: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: 140px;
    margin: 0 auto 15px 55px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 19px 11px;
    font-size: 20px;
    line-height: 21px;
  }
}

.card__desc {
  @include list-reset;
}

.card__button {
  display: block;
  width: 100%;
  border: none;
  margin: 0 0 2px;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 10px 93px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 10px 53px;
  }
}

.card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
}

.card__container-image {
  @media (min-width: $tablet-width) {
    margin-top: 8px;
    margin-bottom: 34px;

    &--chiсken-500 {
      margin-top: 36px;
    }

    &--fish-500 {
      margin-top: 34px;
    }

    &--buckwheat-500 {
      margin-top: 37px;
    }

    &--rice-500 {
      margin-top: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    &--chiсken-500 {
      margin: -9px 0 42px -11px;
    }

    &--chiсken-1000 {
      margin: 1px 0 47px -11px;
    }

    &--fish-500 {
      margin: -12px 0 43px -11px;
    }

    &--fish-1000 {
      margin: 4px 0 44px -4px;
    }

    &--buckwheat-500 {
      margin: -10px 0 43px -11px;
    }

    &--buckwheat-1000 {
      margin: 0 0 47px -11px;
    }

    &--rice-500 {
      margin: -13px 0 43px -11px;
    }
  }
}

.card__image {
  display: block;

  &--chiсken-500 {
    margin-top: -1px;

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 161px;
      height: 172px;
      top: -45px;
    }
  }

  &--chiсken-1000 {
    margin-top: 8px;

    @media (min-width: $tablet-width) {
      margin: 0 0 -6px -6px;
      padding: 0;
      width: 168px;
      height: 206px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
      width: 172px;
      height: 196px;
    }
  }

  &--fish-500 {
    margin-top: 17px;

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 163px;
      height: 174px;
    }
  }

  &--fish-1000 {
    margin-top: 7px;

    @media (min-width: $tablet-width) {
      margin: -3px 0 3px -6px;
      padding: 0;
      width: 168px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 172px;
      height: 196px;
    }
  }

  &--buckwheat-500 {
    margin-top: 23px;

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 161px;
      height: 171px;
    }
  }

  &--buckwheat-1000 {
    margin-top: 8px;

    @media (min-width: $tablet-width) {
      margin: -3px 0 3px -6px;
      padding: 0;
      width: 168px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
      width: 172px;
      height: 196px;
    }
  }

  &--rice-500 {
    margin-top: 17px;

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 163px;
      height: 174px;
    }
  }
}
