@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.catalog {
  padding: 27px 0 0;
}

.catalog__title {
  margin: 0 0 9px;
  padding: 0 0 40px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-basic-black;
}

.catalog__list {
  @include list-reset;
}

.catalog__card {
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}
