@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.catalog {
  padding: 27px 0 0;
  border-top: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    padding: 59px 0 0;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 0;
  }
}

.catalog__title {
  margin: 0;
  padding: 0 0 40px;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-basic-black;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    left: -20px;
    right: -20px;
    bottom: 0;
    background-color: $color-border-special-grey-2-light;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 82px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 84px;
  }
}

.catalog__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
    row-gap: 61px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 65px;
  }
}

.catalog__card {
  padding-bottom: 22px;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-bottom: 39px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 39px 38px 0 39px;
  }
}
