@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;


.control {
  position: relative;
  display: block;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid $color-border-special-grey;
  border-radius: 50%;
}

.control:hover .control-mark {
  background-color: #bababa;
}

.control:disabled + .control-mark {
  opacity: 0.3;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $color-basic-green;
  border-radius: 50%;
  content: "";
}

.control__label {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-special-dark-grey-2;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

