@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.desc__wrapper {
  display: flex;
  justify-content: space-between;
  width: 140px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0 9px;
    border-bottom: 1px solid $color-border-special-grey;
  }
}

.desc__name {
  margin: 0;
  padding: 0;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.desc__value {
  margin: 0;
  padding: 0;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-right: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
