@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.desc-suplement__name {
  margin: 0;
  padding: 0;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 131px;
    display: flex;
    justify-content: flex-start;
  }
}

.desc-suplement__value {
  margin: 0;
  padding: 0;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0;
    width: 97px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2) {
      margin-right: 5px;
    }
  }
}
