@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.desc-suplement__name {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 131px;
    display: flex;
    justify-content: flex-start;
  }
}

.desc-suplement__value {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-left: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
