@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.example {
  background-color: $color-bg-gray-2;
  padding: 25px 0 40px;
  height: 659px;

  @media (min-width: $tablet-width) {
    background-color: $color-basic-white;
    height: 1038px;
  }

  @media (min-width: $desktop-width) {
    height: 598px;
  }
}

.example__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 224px;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-basic-black;
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-special-dark-grey;
}

.example__list-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
  }
}


.example__item-name {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: $color-special-dark-grey;
}

.example__item-value {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $color-basic-black;
}

.example__cost {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-basic-black;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
