@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.form {
  padding: 27px 0 32px;
  border-top: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    padding: 60px 0 72px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 82px;
    border-top: none;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    font-size: 60px;
    line-height: 60px;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrapper-button {
  margin-top: 22px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
  }
}

.form__button {
  padding: 10px 44px;

  @media (min-width: $tablet-width) {
    width: 282px;
    padding: 16px 45px;
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__meta {
  margin: 21px 0 0;
  padding: 0;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    margin: -12px 0 0 62px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 84px;
  }
}
