@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.logo-htmlacademy__link {
  margin: 0;
  padding: 22px 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $color-special-dark-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    &--icon {
      margin-left: 23px;
    }
  }
}

.logo-htmlacademy__icon {
  color: $color-fill-special-grey-2;
}

.logo-htmlacademy__link--icon:hover .logo-htmlacademy__icon,
.logo-htmlacademy__link--icon:focus .logo-htmlacademy__icon {
  color: $color-basic-green;
}

.logo-htmlacademy__link--icon:active .logo-htmlacademy__icon {
  color: $color-basic-green;
  opacity: 0.3;
}
