@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 34px;
  }
}

.main-nav__link {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-basic-black;
  text-decoration: none;
}
