@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.main-footer {
  background-color: $color-bg-basic-grey;
  min-height: 240px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 36px 0 23px;
    min-height: 147px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 0 28px;
    min-height: 169px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__logo-text {
  display: flex;
  justify-content: center;
  padding: 39px 0 14px;
  border-bottom: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
    align-items: center;
  }
}

.main-footer__social {
  display: flex;
  justify-content: center;
  padding: 22px 0 20px;
  border-bottom: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
    align-items: center;
  }
}

.main-footer__logo-htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
