@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.main-footer {
  background-color: $color-bg-basic-grey;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding: 39px 0 32px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.main-footer__logo-htmlacademy {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 58px 0;
  }

  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-footer__logo {
    padding: 0;
  }

  .main-footer__social {
    padding: 0;
  }

  .main-footer__logo-htmlacademy {
    padding: 0;
  }
}
