@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.order__group {
  margin: 14px 0 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 18px 0;
  }
}

.order__text {
  margin: 0 13px 0 0;
  padding: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-special-dark-grey;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.order__field {
  width: 100%;
  margin: 0;
  padding: 14px 0 11px 20px;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-special-dark-grey;
  border: 1px solid $color-border-form;

  &::placeholder {
    color: $color-special-dark-grey;
  }

  &:hover {
    outline: 1px solid $color-border-special-grey;
  }

  &:focus {
    outline: 2px solid $color-special-dark-grey;
  }

  &:invalid {
    outline: 2px solid $color-border-status-error;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 0 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
