@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.pagination {
  border: 2px solid $color-border-basic-grey;
}

.pagination__link {
  text-decoration: none;
}

.pagination__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-special-black;
}

.pagination__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-special-dark-grey;
}

.pagination__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .pagination__container {
    display: flex;
    justify-content: center;
  }
}
