@use "global/variables.scss" as *;
@use "global/mixins.scss" as *;

.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}


.social__link {
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-htmlacademy__link:active {
  opacity: 0.3;
}

.social__link__icon {
  color: $color-fill-special-grey-2;
}

.social__link:hover .social__link__icon,
.social__link:focus .social__link__icon {
  color: $color-basic-green;
}

.social__link:active .social__link__icon {
  color: $color-basic-green;
  opacity: 0.3;
}
