/*text*/

$color-basic-white: #ffffff;
$color-basic-black: #000000;
$color-special-black: #111111;
$color-special-dark-grey-2: #222222;
$color-special-dark-grey: #444444;

/*bg*/

$color-bg-basic-green-85:rgba(104, 183, 56, 0.85);
$color-bg-basic-grey: #f2f2f2;
$color-bg-gray-2: #eaeaea;

/*border*/

$color-border-gray: #d9d9d9;
$color-border-special-grey: #cdcdcd;
$color-border-form: #e7e7e7;
$color-border-form-special: #e6e6e6;
$color-border-special-grey-2-light: #ebebeb;
$color-border-status-error: #ff8282;
$color-border-basic-grey: #f2f2f2;
$color-border-radio: #bababa;

/*button & decoration*/

$color-basic-green: #68b738;
$color-basic-green-2: #5eaa2f;
$color-button-secondary: #ebebeb;

/*fill*/

$color-fill-special-grey-2: #666666;

/*viewports*/

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

/*fonts*/

$font-oswald: "Oswald", "Arial", sans-serif;
$font-lato: "Lato", "Arial", sans-serif;
